.container {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter_section,
.active_fleet_section,
.change_section,
.figures_section {
  width: 90%;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 7px;
  padding: 2.5rem;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 -5px 5px -5px #333; */
}
.filter_top_section,
.figure_top_sections {
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
  /* border: 2px solid blue; */
}
.column_breaker {
  width: 2px;
  background: black;
  height: 70px;
}
.input_select {
  width: 32%;
  /* border: 2px solid blue; */
}
.input_selects {
  width: 66%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_model,
.right_model {
  width: 49%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date_selection {
  border: 0.5px solid black;
  width: 100%;
  height: 30px;
  padding: 1% 3%;
  border-radius: 7px;
}
.jet_class {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 0.9rem;
  line-height: 2rem;
  /* margin: 1rem 0rem; */
}
.jet_classs {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
}
.start_date {
  /* border: 2px solid red; */
  width: 48%;
}
.start-label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 0.6rem;
  margin: 0%;
  display: none;
  line-height: 0.2rem;
}
.date_range {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#select_id {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  padding: 1% 3%;
  /* border: 2px solid red; */
}
#select_id > option {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.reset_filters {
  background: #ffffff;
  border: 0.5px solid black;
  border-radius: 7px;
  padding: 0.7% 3.5%;
  color: red;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}
.second_section_figure {
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4rem;
}
.left_figure_section,
.right_figure_section {
  width: 45%;
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 65% 25%;
  row-gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
}
.left_figure_heading,
.right_figure_heading {
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
.left_figure_para {
  color: green;
}
.right_figure_para {
  color: red;
}
.filter_selection_third_section {
  display: flex;
  align-items: center;
  margin: 3rem 0%;
  /* border: 2px solid green; */
  width: 100%;
  justify-content: center;
  gap: 0.1rem;
}
.line_breake_header {
  width: 3px;
  background: black;
  height: 30px;
}
.doughnut_section {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */

  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.1);
  /* padding: 2rem 0rem; */
  padding: 2rem 0rem;
  margin-top: 3rem;
}
.doughnut_contanier {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* border: 2px solid yellow; */
}
.table_type_containers {
  width: 100%;
  /* border: 2px solid yellowgreen; */
}
.table_type_section {
  width: 100%;
  /* border: 2px solid red; */
  /* height: 35px; */
  /* grid-area: 10px; */
  display: grid;
  grid-template-columns: 33% 8% 20% 13% 13% 13%;
  /* grid-area: ; */
  /* grid-w */
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  /* flex-direction: ; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.table_6Sections {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table_6Sections > p {
  margin: 0%;
  padding: 0%;
}

/* pagination css */
.Blogs-Carousel-Track {
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.paginationBttns {
  width: auto;
  height: 40px;
  list-style: none;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3b85d7;
  cursor: pointer;
}

.paginationActive a {
  color: white;
  background-color: #898787;
}

.paginationDisabled a {
  color: grey;
  cursor: no-drop;
}
